<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collaboetry</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="site-header">
      <ul>
        <li class="header-first"><a href="/home/">Home</a> |</li>
        <li><a href="/poems/new">Post a Poem</a> |</li>
        <li><a href="/poems/authors">Authors & Poems</a> |</li>
        <li><a href="/poems/tags">Tags</a> |</li>
        <li><a href="/poems/vote">Vote on Changes</a> |</li>
        <li><a href="/users/signout">Sign Out</a></li>
      </ul>
    </header><br><br>
    <%- body %>
    <script>
      $('textarea.content').on('keyup', function (e) {
        var output = marked( $(this).val() );

        $('div.preview').html( output );
      });
    </script>
  </body>
</html>

<!-- Default side-wide shell -->
