<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collaboetry</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <% if (userLoggedIn) { %>
      <div class="logged-in-user">Logged in as: <%= userLoggedIn %></div>
    <% } else { %>
      <div class="logged-in-user">You're a guest here. Act accordingly. %></div>
    <% } %>
    <header class="site-header">
      <ul>
        <li class="header-first"><a href="/home/">Home</a> |</li>
        <li><a href="/poems/new">Post a New Poem</a> |</li>
        <li><a href="/poems/authors">Poems by Author</a> |</li>
        <li><a href="/poems/tags">Poems by Tags</a> |</li>
        <!-- <li><a href="/poems/vote">Vote on Changes</a> |</li> -->
        <% if (userLoggedIn) { %>
          <li><a href="/users/signout">Sign Out</a></li>
        <% } else { %>
          <li><a href="/users/login">Log In</a></li>
        <% } %>
      </ul>
    </header><br><br>
    <%- body %>
    <script>
      $('textarea.content').on('keyup', function (e) {
        var output = marked( $(this).val() );

        $('div.preview').html( output );
      });
    </script>
  </body>
</html>

<!-- Default side-wide shell -->
