<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collaboetry</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="site-header">
      <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/poems/poems-by-author">Poems by Author</a></li>
        <li><a href="/poems/poems-by-tag">Poems by Keyword/Tag</a></li>
        <li><a href="/poems/vote">Vote on Latest Changes!</a></li>
      </ul>
    </header><br><br>
    <%- body %>
  </body>
</html>

<!-- Default side-wide shell -->
