<div class="home-stuff">
  <h1>You must be new here. WELCOME TO COLLABOETRY!!</h1>
  <h2>Use the menu bar at the top of the screen to get started</h2>
  <h3>Read some stuff, post a new poem, I don't care. I'm not your mother.</h3>
  <br><br><br><br><br><br><br><br><br><br>
  <h4>...why are you still here? Go do something!</h4>
</div>
