<div class="home-stuff">
  <h1>You must be new here. WELCOME TO COLLABOETRY, <%= userLoggedIn.toUpperCase() %>!!</h1>
  <h2>Use the menu bar above to get started</h2>
  <h3>Read some stuff, post a new poem &#8212; I don't care. I'm not your mother.</h3>
  <h4 class="delayed-response">...why are you still here? Go do something!</h4>
</div>
