/* fonts from Google Fonts */

@font-face {
		font-family: AmaticBold;
    src: url('fonts/AmaticSC-Bold.ttf');
}

@font-face {
		font-family: AmaticStd;
    src: url('fonts/AmaticSC-Regular.ttf');
}

@font-face {
		font-family: Handwriting;
    src: url('fonts/WaitingfortheSunrise.ttf');
}

/* regular stylin' */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: AmaticStd, fantasy;
  background: LightGoldenrodYellow;
  height: 100%;
}

h1 {
  font-size: 7rem;
	text-align: center;
}

p {
  font-size: 2.5rem;
  font-family: AmaticStd, fantasy;
}

.site-header {
  height: 5rem;
  width: 80%;
  margin: 1rem auto;
  padding-bottom: 3rem;
  font-family: AmaticBold, fantasy;
  letter-spacing: 6px;
}

.site-header ul {
  border: 3px double black;
  background-color: floralwhite;
}

.site-header li {
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  list-style: none;
  display: inline-block;
  padding: 2rem;
}

.site-header a:hover {
  color: lightcoral;
}

.home-stuff {
  margin-left: 1.5rem;
}

.poems-by-author, .poems-by-tag {
  width: 60%;
  margin: 0 auto;
  border: 2px dashed lightcoral;
}

.poems-by-author *, .poems-by-tag * {
  margin-left: 0.5rem;
}

/*login & signup forms*/

.login-signup-form {
	padding-left: 1.5rem;
}

.login-signup-form input {
	width: 20%;
	font-size: 2.5rem;
	margin: 0.5rem;
}

.login-signup-form input[type="submit"] {
	width: 10%;
	text-align: center;
	margin-left: 5%;
}
