<h1>Post your latest masterpiece here!</h1>

<div class="poem-submit-note">
  <p>NOTE: this field uses Markdown formatting. You can use tags to format the text on the left to your heart's content, and the formatted text will appear on the right.</p>
  <p>For information on Markdown, check out <a href="http://markdowntutorial.com/" target="_blank"><b>this tutorial</b></a>.</p>
</div>

<div class="poem-form">
  <form action="/poems/new" method="post">
    <!-- <input type="text"
           name="poem[authorName]"
           placeholder="Enter your nomme de plume here"><br> -->
    <input type="text"
           name="poem[title]"
           placeholder="Enter your poem's title here"><br>
    <textarea class="content markdown"
              name="poem[content]"></textarea>
    <div class="content preview"
        id="please-work"></div>
    <input type="text"
           name="poem[tags][]"
           placeholder="Any keywords/tags you'd like to include?"><br>
    <textarea class="poem-comments"
           name="poem[comments]"
           placeholder="Any comments for your hypothetical reader?"></textarea><br>
    <input type="submit" value="Post it!"><br>
  </form>
</div>
<div class="go-back">
  <h2>Change your mind?</h2>
  <h3>Click <a href="/poems/authors">here</a> to go read stuff by other people</h3>
</div>
