<h1 class="poems-by-H1">All poems by a specific user</h1>
<!-- TO-DO: link up Users so we can display the user's name in this h1 -->

<% poems.forEach(function(poem){ %>
  <div class="poems-by-author">
    <h2><%= poem.authorName %></h2>
  </h3><a href="/poems-by-author/<%= poem.poetID %>/<%= poem._id %>"><%= poem.title %></a></h3>
  </div>
<% }); %>
