<h1 class="poems-by-H1">All Poems, Grouped by Author</h1>

<% poems.forEach(function(poem){ %>
  <div class="poems-by-author">
    <h2><%= poem.username %></h2>
    <h2><a href="/poems-by-author/<%= poem.poetID %>/<%= poem._id %>"><%= poem.title %></a></h2>
  </div>
<% }); %>
