<h1 class="poems-by-H1">All poems grouped by authors</h1>

<% poems.forEach(function(poem){ %>
  <div class="poems-by-author">
    <h2><%= poem.authorName %></h2>
    </h3><a href="/poems-by-author/<%= poem.poetID %>/<%= poem._id %>"><%= poem.title %></a></h3>
  </div>
<% }); %>
