<h1>Post your latest masterpiece here!</h1>

<div class="poem-form">
  <form action="/poems/new" method="post">
    <input type="text"
           name="poem[authorName]"
           placeholder="Enter your nomme de plume here"><br>
    <input type="text"
           name="poem[content]"
           placeholder="all yr words!"><br>
    <input type="text"
           name="poem[tags][]"
           placeholder="Any keywords/tags you'd like to include?"><br>
    <input type="submit" value="Post it!">
  </form>
</div>

<h2>Change your mind?</h2>
<h3>Click <a href="/poems/poems-by-author">here</a> to go read stuff by other people</h3>
