<h1>Sign up for Collaboetry, today!</h1>

<form action="/users/signup" method="post">
  <input type="text"
         name="user[username]"
         placeholder="Enter your username here">
  <input type="password"
         name="user[password]"
         placeholder="your password here">
  <input type="submit" value="Sign up!">
  
</form>
