<h1>You've signed out successfully</h1>
<h2>Sign in again, below... if you dare!</h2>

<div class="login-signup-form">
  <form action="/users/login" method="post">
    <input type="text"
           autofocus="autofocus"
           name="user[username]"
           placeholder="Enter your username here"><br>
    <input type="password"
           name="user[password]"
           placeholder="your password here"><br>
    <h2>NOTE: both fields are case-sensitive!!</h2>
    <input type="submit" value="Log in!">

  </form>
</div>
