<h1>Sign up for Collaboetry, today!</h1>

<div class="login-signup-form">
  <form action="/users/signup" method="post">
    <input type="text"
           name="user[username]"
           placeholder="Enter your username here"><br>
    <input type="password"
           name="user[password]"
           placeholder="your password here"><br>
    <input type="submit" value="Sign up!">

  </form>
</div>
